* {
  font-family: Monaco, Consolas, Inconsolata, "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
}

#command-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
}

#command-list > li {
  display: inline-block;
  width: 25%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto 0 auto;
  max-width: 960px;
}

#container {
  display: flex;
}

#input {
  display: inline-block;
  flex-grow: 1;
  width: 100%;
}

#execute {
  margin: 1rem 0;
}

#execute,
#share {
  cursor: pointer;
  padding: 0.5rem 0;
}

#share:disabled {
  cursor: inherit;
}

#inputarea {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 50%;
}

#canvas {
  border: 1px solid #000;
}
